.vs/ClubDeportivo/v17/.suo
.vs/ProjectEvaluation/clubdeportivo.projects.v7.bin
.vs/ProjectEvaluation/clubdeportivo.metadata.v7.bin
.vs/ClubDeportivo/v17/.futdcache.v2
.vs/ClubDeportivo/DesignTimeBuild/.dtbcache.v2
